<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
    <title>Crea una Cuenta</title>
    <link rel="stylesheet" href="styles/estilos.css">
    <link rel="stylesheet" href="imagenes/momo.ico">
</head>
<center>
<body>
    <section class="form-main">
        <div class="form-contenedor">
            <div class="box">
                <div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg
                shadow-lg text-gray-800">
                <h3>Registrarse</h3>
                <form action="">
                    <div class="input-box">
                        <input type="text" placeholder="Nombre" class="input-control boder-gray-200 w-full text-lg placeholder-gray-500
                        p-2 my-2 bg-gray-300 focus:bg-white" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Apellido Parteno" class="input-control boder-gray-200 w-full text-lg placeholder-gray-500
                        p-2 my-2 bg-gray-300 focus:bg-white" required>
                        <input type="text" placeholder="Apellido Materno" class="input-control boder-gray-200 w-full text-lg placeholder-gray-500
                        p-2 my-2 bg-gray-300 focus:bg-white" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Telefono" class="input-control boder-gray-200 w-full text-lg placeholder-gray-500
                        p-2 my-2 bg-gray-300 focus:bg-white" required>
                    </div>
                    <div class="input-box">
                        <input type="date" placeholder="Fecha de Nacimiento" class="input-control boder-gray-200 w-full text-lg placeholder-gray-500
                        p-2 my-2 bg-gray-300 focus:bg-white" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email" class="input-control boder-gray-200 w-full text-lg placeholder-gray-500
                        p-2 my-2 bg-gray-300 focus:bg-white" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Contraseña" class="input-control boder-gray-200 w-full text-lg placeholder-gray-500
                        p-2 my-2 bg-gray-300 focus:bg-white" required>
                    </div>
                    <button type="submit" class="rounded-md bg-blue-500 w-full text-lg text-black font-semibold p-2 my-3 hover:bg-white-600 focus:bg-white-700">Crear Cuenta</button>
                </form>
                <p>Ya Tienes Cuenta <a href="login2.html" class="gra-text">Inicia Sesión</a></p>
            </div>
        </div>
        </center>
    </section>
</body>
